
@{
    ViewBag.Title = "Radio";
}
<!-- Preloader -->
<div id="preloader">
    <div>
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <span>Wait, please...</span>
    </div>
</div>
<!-- /Preloader -->
<!-- Podcast Thumbnail Area Start -->
<section class="podcast-hero-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url(img/bg-img/11.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="podcast-hero-text section-padding-80 d-flex align-items-center">
                    <div class="podcast-txt- pr-md-5">
                        <h5>Podcast Features</h5>
                        <h2>Guess what we’ve missed watching world cup 2014. We made a list!</h2>
                        <div class="podcast-meta-data">
                            <a href="#" class="event-date"><i class="icon_calendar"></i> July 23, 2019</a>
                            <a href="#" class="event-time"><i class="icon_clock_alt"></i> 36 min</a>
                            <a href="#" class="event-time"><i class="icon_heart_alt"></i> 38</a>
                            <a href="#" class="event-address"><i class="icon_chat_alt"></i> 23</a>
                        </div>
                    </div>
                    <a href="#" class="pt-5 pt-md-0 pl-md-5"><img src="img/core-img/itunes.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Podcast Thumbnail Area End -->
<!-- Audio Player Area Start -->
<div class="podcast-audio-player-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="audio-player">
                    <audio preload="auto" controls>
                        <source src="audio/dummy-audio.mp3">
                    </audio>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Audio Player Area End -->
<!-- Latest Podcast Area Start -->
<section class="razo-latest-podcast-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>Latest on PodCast:</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Podcast Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-podcast-area mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Thumbnail -->
                    <div class="podcast-thumb">
                        <img src="img/bg-img/69.jpg" alt="">
                        <div class="like-comment">
                            <a href="#" class="like">2 <i class="icon_heart"></i></a>
                            <a href="#" class="like">2 <i class="icon_chat"></i></a>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="podcast-content">
                        <div class="podcast-meta">
                            <a href="#"><i class="icon_calendar"></i> July 23, 2014</a>
                            <a href="#"><i class="icon_clock_alt"></i> 36 min</a>
                        </div>
                        <h5>Richard Harman from Polit joins us.</h5>
                        <div class="border-line"></div>
                        <div class="play-download-btn d-flex align-items-center justify-content-between">
                            <a href="#" class="btn razo-btn btn-sm">playing now</a>
                            <a href="audio/dummy-audio.mp3" class="music-download-btn" download><i class="icon_download"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Podcast Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-podcast-area mb-30 wow fadeInUp" data-wow-delay="200ms">
                    <!-- Thumbnail -->
                    <div class="podcast-thumb">
                        <img src="img/bg-img/71.jpg" alt="">
                        <div class="like-comment">
                            <a href="#" class="like">2 <i class="icon_heart"></i></a>
                            <a href="#" class="like">2 <i class="icon_chat"></i></a>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="podcast-content">
                        <div class="podcast-meta">
                            <a href="#"><i class="icon_calendar"></i> July 23, 2014</a>
                            <a href="#"><i class="icon_clock_alt"></i> 36 min</a>
                        </div>
                        <h5>Does our economic model need a re-think?</h5>
                        <div class="border-line"></div>
                        <div class="play-download-btn d-flex align-items-center justify-content-between">
                            <a href="#" class="btn razo-btn btn-sm">playing now</a>
                            <a href="audio/dummy-audio.mp3" class="music-download-btn" download><i class="icon_download"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Podcast Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-podcast-area mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumbnail -->
                    <div class="podcast-thumb">
                        <img src="img/bg-img/72.jpg" alt="">
                        <div class="like-comment">
                            <a href="#" class="like">2 <i class="icon_heart"></i></a>
                            <a href="#" class="like">2 <i class="icon_chat"></i></a>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="podcast-content">
                        <div class="podcast-meta">
                            <a href="#"><i class="icon_calendar"></i> July 23, 2014</a>
                            <a href="#"><i class="icon_clock_alt"></i> 36 min</a>
                        </div>
                        <h5>In the medical journal The Lancet</h5>
                        <div class="border-line"></div>
                        <div class="play-download-btn d-flex align-items-center justify-content-between">
                            <a href="#" class="btn razo-btn btn-sm">playing now</a>
                            <a href="audio/dummy-audio.mp3" class="music-download-btn" download><i class="icon_download"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Podcast Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-podcast-area mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <!-- Thumbnail -->
                    <div class="podcast-thumb">
                        <img src="img/bg-img/73.jpg" alt="">
                        <div class="like-comment">
                            <a href="#" class="like">2 <i class="icon_heart"></i></a>
                            <a href="#" class="like">2 <i class="icon_chat"></i></a>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="podcast-content">
                        <div class="podcast-meta">
                            <a href="#"><i class="icon_calendar"></i> July 23, 2014</a>
                            <a href="#"><i class="icon_clock_alt"></i> 36 min</a>
                        </div>
                        <h5>The curious case of the Manukau</h5>
                        <div class="border-line"></div>
                        <div class="play-download-btn d-flex align-items-center justify-content-between">
                            <a href="#" class="btn razo-btn btn-sm">playing now</a>
                            <a href="audio/dummy-audio.mp3" class="music-download-btn" download><i class="icon_download"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Podcast Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-podcast-area mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <!-- Thumbnail -->
                    <div class="podcast-thumb">
                        <img src="img/bg-img/74.jpg" alt="">
                        <div class="like-comment">
                            <a href="#" class="like">2 <i class="icon_heart"></i></a>
                            <a href="#" class="like">2 <i class="icon_chat"></i></a>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="podcast-content">
                        <div class="podcast-meta">
                            <a href="#"><i class="icon_calendar"></i> July 23, 2014</a>
                            <a href="#"><i class="icon_clock_alt"></i> 36 min</a>
                        </div>
                        <h5>Susan Rogers on her four intense years working</h5>
                        <div class="border-line"></div>
                        <div class="play-download-btn d-flex align-items-center justify-content-between">
                            <a href="#" class="btn razo-btn btn-sm">playing now</a>
                            <a href="audio/dummy-audio.mp3" class="music-download-btn" download><i class="icon_download"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Podcast Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-podcast-area mb-30 wow fadeInUp" data-wow-delay="600ms">
                    <!-- Thumbnail -->
                    <div class="podcast-thumb">
                        <img src="img/bg-img/75.jpg" alt="">
                        <div class="like-comment">
                            <a href="#" class="like">2 <i class="icon_heart"></i></a>
                            <a href="#" class="like">2 <i class="icon_chat"></i></a>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="podcast-content">
                        <div class="podcast-meta">
                            <a href="#"><i class="icon_calendar"></i> July 23, 2014</a>
                            <a href="#"><i class="icon_clock_alt"></i> 36 min</a>
                        </div>
                        <h5>Suicide prevention need more resources</h5>
                        <div class="border-line"></div>
                        <div class="play-download-btn d-flex align-items-center justify-content-between">
                            <a href="#" class="btn razo-btn btn-sm">playing now</a>
                            <a href="audio/dummy-audio.mp3" class="music-download-btn" download><i class="icon_download"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Podcast Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-podcast-area mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <!-- Thumbnail -->
                    <div class="podcast-thumb">
                        <img src="img/bg-img/76.jpg" alt="">
                        <div class="like-comment">
                            <a href="#" class="like">2 <i class="icon_heart"></i></a>
                            <a href="#" class="like">2 <i class="icon_chat"></i></a>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="podcast-content">
                        <div class="podcast-meta">
                            <a href="#"><i class="icon_calendar"></i> July 23, 2014</a>
                            <a href="#"><i class="icon_clock_alt"></i> 36 min</a>
                        </div>
                        <h5>Christchurch musician Roy Montgomery</h5>
                        <div class="border-line"></div>
                        <div class="play-download-btn d-flex align-items-center justify-content-between">
                            <a href="#" class="btn razo-btn btn-sm">playing now</a>
                            <a href="audio/dummy-audio.mp3" class="music-download-btn" download><i class="icon_download"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Podcast Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-podcast-area mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <!-- Thumbnail -->
                    <div class="podcast-thumb">
                        <img src="img/bg-img/77.jpg" alt="">
                        <div class="like-comment">
                            <a href="#" class="like">2 <i class="icon_heart"></i></a>
                            <a href="#" class="like">2 <i class="icon_chat"></i></a>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="podcast-content">
                        <div class="podcast-meta">
                            <a href="#"><i class="icon_calendar"></i> July 23, 2014</a>
                            <a href="#"><i class="icon_clock_alt"></i> 36 min</a>
                        </div>
                        <h5>Pacific Heights' new album A Lost Light came</h5>
                        <div class="border-line"></div>
                        <div class="play-download-btn d-flex align-items-center justify-content-between">
                            <a href="#" class="btn razo-btn btn-sm">playing now</a>
                            <a href="audio/dummy-audio.mp3" class="music-download-btn" download><i class="icon_download"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class="view-more-button text-center">
                    <a href="#" class="btn razo-btn mt-50">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Podcast Area End -->
